{% extends 'header.html' %}
{% load static %}
{% block head %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Product </div>
                                    <div class="stat-digit"> {{pro}}</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success w-85" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Oreders</div>
                                    <div class="stat-digit"> 10</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-primary w-75" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Admin </div>
                                    <div class="stat-digit">{{user}}</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Total Client </div>
                                    <div class="stat-digit">{{client}}</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-warning w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <!-- <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="stat-widget-two card-body">
                                <div class="stat-content">
                                    <div class="stat-text">Task Completed</div>
                                    <div class="stat-digit"> <i class="fa fa-usd"></i>650</div>
                                </div>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-danger w-65" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        /# card 
                    </div>
                     /# column 
                </div>  -->
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">New Orders</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Product</th>
                                            <th>quantity</th>
                                            <!-- <th>Status</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="round-img">
                                                    <a href=""><img width="35" src="./images/avatar/1.png" alt=""></a>
                                                </div>
                                            </td>
                                            <td>rupesh</td>
                                            <td><span>sport shoes</span></td>
                                            <td><span>1 pcs</span></td>
                                            <!-- <td><span class="badge badge-success">Done</span></td> -->
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="round-img">
                                                    <a href=""><img width="35" src="./images/avatar/1.png" alt=""></a>
                                                </div>
                                            </td>
                                            <td>suraj</td>
                                            <td><span>sniker</span></td>
                                            <td><span>1 pcs</span></td>
                                            <!-- <td><span class="badge badge-warning">Pending</span></td> -->
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="round-img">
                                                    <a href=""><img width="35" src="./images/avatar/1.png" alt=""></a>
                                                </div>
                                            </td>
                                            <td>rajnesh</td>
                                            <td><span>sport shoes</span></td>
                                            <td><span>1 pcs</span></td>
                                            <!-- <td><span class="badge badge-success">Done</span></td> -->
                                        </tr>

                                        <tr>
                                            <td>
                                                <div class="round-img">
                                                    <a href=""><img width="35" src="./images/avatar/1.png" alt=""></a>
                                                </div>
                                            </td>
                                            <td>rohit</td>
                                            <td><span>formal shoes</span></td>
                                            <td><span>1 pcs</span></td>
                                            <!-- <td><span class="badge badge-warning">Pending</span></td> -->
                                        </tr>
                                        
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>  
                    </div>
                </div>
                <!-- <div class="row"> -->
                    <div class="col-xl-4 col-lg-4 col-md-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="m-t-10">
                                    <h4 class="card-title">Customer Feedback</h4>
                                    <h2 class="mt-3">{{crev}}</h2>
                                </div>
                                <div class="widget-card-circle mt-5 mb-5" id="info-circle-card">
                                    <i class="ti-control-shuffle pa"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </div> -->
            </div>
                <!--  <div class="row"> 
                    <div class="col-xl-8 col-lg-8 col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Sales Overview</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xl-12 col-lg-8">
                                        <div id="morris-bar-chart"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                
                </div>
                        {% endblock %}  




