        {% extends 'header.html' %}
        {% load static %}
        {% block head %}
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
    <style>
            body{
    margin-top:100px;
    background:#f5f7fa;
}
.panel.panel-default {
    border-top-width: 3px;
}
.panel {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    border: 0;
    border-radius: 4px;
    margin-bottom: 16px;
}
.thumb96 {
    width: 96px!important;
    height: 96px!important;
}
.thumb48 {
    width: 48px!important;
    height: 48px!important;
}
        </style>
    <div class="content-body">
        <div class="container-fluid">

            <div class="container bootstrap snippets bootdey">
                <div class="row ng-scope">
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <div class="pv-lg"><img class="center-block img-responsive img-circle img-thumbnail thumb96" src="{{uid.pic.url}}" alt="Contact"></div>
                                <h3 class="m0 text-bold">{{uid.name}}</h3>
                                <div class="mv-lg">
                                    <p>Hello,{{uid.name}}</p>
                                </div>
                                <div class="text-center"><a class="btn btn-primary" href="">Send message</a></div>
                            </div>
                        </div>
                        <div class="panel panel-default hidden-xs hidden-sm">
                            <div class="panel-heading">
                                <div class="panel-title text-center">Recent contacts</div>
                            </div>
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Contact"></a>
                                    </div>
                                    <div class="media-body pt-sm">
                                        <div class="text-bold">Floyd Ortiz
                                            <div class="text-sm text-muted">12m ago</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Contact"></a>
                                    </div>
                                    <div class="media-body pt-sm">
                                        <div class="text-bold">Luis Vasquez
                                            <div class="text-sm text-muted">2h ago</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Contact"></a>
                                    </div>
                                    <div class="media-body pt-sm">
                                        <div class="text-bold">Duane Mckinney
                                            <div class="text-sm text-muted">yesterday</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#"><img class="media-object img-circle img-thumbnail thumb48" src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Contact"></a>
                                    </div>
                                    <div class="media-body pt-sm">
                                        <div class="text-bold">Connie Lambert
                                            <div class="text-sm text-muted">2 weeks ago</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="pull-right">
                                    <div class="btn-group dropdown" uib-dropdown="dropdown">
                                        <button class="btn btn-link dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><em class="fa fa-ellipsis-v fa-lg text-muted"></em></button>
                                        <ul class="dropdown-menu dropdown-menu-right animated fadeInLeft" role="menu">
                                            <li><a href=""><span>Send by message</span></a></li>
                                            <li><a href=""><span>Share contact</span></a></li>
                                            <li><a href=""><span>Block contact</span></a></li>
                                            <li><a href=""><span class="text-warning">Delete contact</span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <h2>{{msg}}</h2>
                                <div class="h4 text-center">Contact Information</div>
                                <div class="row pv-lg">
                                    <div class="col-lg-2"></div>
                                    <div class="col-lg-8">
                                        <form class="form-horizontal ng-pristine ng-valid" method="POST" action="" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="inputContact1">Name</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" name="name" id="inputContact1" type="text" placeholder="" value="{{uid.name}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="inputContact2">Email</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" name="email" id="inputContact2" type="email" value="{{uid.email}}">
                                                </div>
                                            </div>
                                        
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="inputContact4">Mobile</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" name="mobile" id="inputContact4" type="text" value="{{uid.mobile}}">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-2 control-label" for="inputContact6">Address</label>
                                                <div class="col-sm-10">
                                                    <textarea class="form-control" name="address" id="inputContact6" row="4" value="">{{uid.address}}</textarea>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-last-name">Profile Pic</label>
                                                <input type="file" name="pic" id="input-last-name" class="form-control">
                                            </div>
                                                <div class="form-group">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                    <button class="btn btn-info"  type="submit" value='update profile'>Update</button>
                                                </div>
                                            </div>
                                        </form>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



        <!--**********************************
            Content body end
        ***********************************-->


        <!--**********************************
            Footer start
        ***********************************-->
        {% endblock %}